body { background-color: #115; margin: 0; padding: 0; }
.whole { width: 800px; padding: 20px; margin: 0; background-color: #fff; font-size: 90%; }
.launch { margin-left: 100px; padding: 10px; text-align: center; color: #00f; background-color: #cfc; border: 2px solid #393; width: 200px; font-size: large; }
.button { cursor:pointer; }
li { margin: 4px; }
h1 { border-bottom: solid 2px red; }
h2 { border-left: solid 1.2em #cf6; padding-left: 4px; }
h3 { border-left: solid 1.2em #fc0; padding-left: 4px; }
img { border: none; }
.language_selection { float:left; margin-left:700px;}
pre { background-color: #ddf; border: 1px solid #66f; }
