body { background-image: url(../images/block_bg.png); background-attachment: fixed; margin: 1px; min-height: 500px; color: black; }
img { border: 0 none; }
hr { margin: 0; padding: 0; }
hr.spacer { margin: 6px 0 }
iframe { display: none; }
form { margin-bottom: 0; }

#control { position: fixed; top: 0; left: 0; width: 100%; height: 53px; border-bottom: 1px solid black; z-index: 3; background-color: #eee; }
#loading { opacity: 0.5; filter: alpha(opacity=50); display: inline; position: absolute; top: 6px; left: 50%; z-index: 4; margin-left: -120px; }
#fst { position: absolute; left: 1px; top: 1px; width: 94%; height: 30px; font-size: smaller; overflow: hidden; }
#go { text-decoration: none; position: absolute; left: 95%; top: 1px; }
#rst { text-decoration: none; position: absolute; left: 95%; top: 16px; }
#option { position: absolute; left: 1px; top: 32px; width: 99%; font-size: smaller; }
#option > div, #option > form { display: inline-block; }
#media_div { min-width: 256px; min-height: 1em; display: inline-block; }
#imgclr { position: relative; z-index: 21; cursor: pointer; }
#menu { position: absolute; left: 0px; top: 33px; }
#menu a { display: inline-block; font-size: 12px; height: 18px; line-height: 18px; border: 1px solid black; border-bottom: 0 none; background-color: #aaa; color: #242; padding: 0 4px; margin: 0; margin-bottom: 2px; text-decoration: none; font-family: sans-serif; -moz-border-radius: 5px 5px 0 0; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-radius: 5px 5px 0 0; margin-right: 2px; overflow: hidden; max-width: 10em; white-space: nowrap; text-overflow: ellipsis; }
#menu a.sel { height: 20px; margin-bottom: 0; background-color: #ffe; color: #002; border-bottom-color: #fff; }
#menu a.new { background-color: #fcc; }

.tabcmd { background-color: #ccc; text-align: right; }
.tabcmd a { size: smaller; color: green; }
.tabclose a { color: red; }

.tw { position: absolute; left: 0px; top: 54px; width: 100%; font-size: smaller; }
#re { display: none; }
#tw2 { background-color: #f8f8f8; display: none; min-height: 448px; }
#tw > div { border-bottom: 1px solid #777; }
.tw-parent > div > div { padding: 1px; border-bottom: 1px solid #999; }
.dummy { border-bottom: 0; padding: 0; height: 0; clear: both; }
.uicon { float: left; width: 32px; height: 32px; padding-right: 1px; }
.uicon2 { max-width: 96px; max-height: 96px; }
.rtuicon { width: 16px; height: 16px; padding: 0 1px; vertical-align: bottom; }
.fav { float: right; }
.dir { color: #679; }
.status { text-decoration: none; }
.status a.link { font-size: smaller; background-color: #eee; color: #022; border: solid 1px #cec; text-decoration: none; }
.status a.resolved { background-color: #eef; }
.status a.link:hover { background-color: #ff9; }
.rtinfo, .favinfo { text-align: right; display: inline-block; color: #999; font-size: x-small; line-height: 1; }
.favinfoicon, .rtinfoicon { padding: 1px; vertical-align: bottom; }
.utils { text-align: right; display: inline-block; }
.userdesc > .fav { display: none; }
.userdesc > .rtinfo { display: none; }
.userdesc > .utils { display: none; }
.prop, .prop a { color: #999; font-size: smaller; }
.fromme { background-color: #cfd; }
.tome { background-color: #ccf; }
.emp { background-color: #fcc; }
.non-follower { color: #008; }
.retweeted { color: #555; }
.retweeted .non-follower { color: #55a; }
.button { text-decoration: none; -webkit-text-size-adjust:140%; }
.inrep .utils { margin-top: -4px; }
.inrep .reply img { border: solid green 1px; border-radius: 5px; background-color: yellow; position: relative; top: 3px; padding-bottom: 2px; }
.popup { padding: 0 4px; color: #888; }
.upopup { float: right; padding: 0 16px; color: #888; }
.verified { vertical-align: -2px; }
.lock { vertical-align: -2px; }
.close { display: inline-block; color: red; margin: 4px; }
.get-next { text-align: center; background-color: #999; color: #fec; cursor: pointer; }
#rep { display: none; background-color: #fee; position: absolute; width: 90%; left: 4%; top: 200px; border: 4px solid #666; z-index: 2; padding: 2px; font-size: smaller; overflow: hidden; }
#rep > a > img { padding: 2px 1px 1px 3px; }
#reps { margin-top: 1px; }
.popup_menu { display: none; background-color: #eee; position: absolute; left: 0; top: 200px; border: 2px solid #666; z-index: 6; width: 180px; font-size: smaller; }
.popup_menu a { display: block; background-color: #fff; color: black; text-decoration: none; padding: 3px; border-bottom: 1px solid #888; font-size: smaller; }
.popup_menu a:hover { background-color: #33f; color: #fff; text-decoration: none; }
.popup_menu a.row2 { background-color: #eee; }
#popup_hide { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.2; filter: alpha(opacity=20); background-color: black; z-index: 5; }
#user_info_b { margin: 1px; border: 1px solid #888; text-align: center; background-color: black; position: relative; }
#user_info { text-align: center; padding: 0; border-bottom: black solid 1px; }
#user_info_b a { color: white; }
#user_info_b a:hover { color: white; }
#user_info_b a:visited { color: #eff; }
#user_info.user_header { display: inline-block; color: white; text-shadow: 0 1px 1px black, 0 0 3px black; width: 520px; min-height: 260px; border-bottom: 0; position: relative; }
#user_info_hdr { background-position: top center; background-repeat: no-repeat; 	width: 520px; min-height: 260px; position: absolute; left: 50%; top: 0; margin-left: -260px; color: red; text-align: center; }
#user_info_grad { position: absolute; width: 100%; height: 200px; bottom: 0; }
#user_info_sl, #user_info_sr, #user_info_sb { position: absolute; width: 12px; height: 100%; }
#user_info_sl { top: 0; left: 0; }
#user_info_sr { top: 0; right: 0; }
#user_info_sb { width: 100%; height: 24px; bottom: 0; left: 0; }
@media screen and (max-width: 520px) {
	#user_info.user_header { width: 100%; }
	#user_info_hdr { width: 100%; margin: 0; left: 0; }
	#user_info.user_header { width: 100%; }
	#user_info_sl, #user_info_sr { display: none; }
}
.uicona { display: inline-block; margin: 4px; padding: 4px; border-radius: 5px; background-color: white; }
#profile { padding: 4px 16px; font-family: "Helvetica Neue",Arial,sans-serif; }
.selected { background-color: #ffb !important; }
.deleted > .status { text-decoration: line-through; }
.nrFav { background-color: #3fc; font-size: smaller; }
.skipped { background-color: #eee; font-size: smaller; text-align: center; }
#error { display: none; background-color: black; color: white; text-align: center; font-weight: bold; z-index: 10; position: fixed; top: 30%; width: 75%; left: 10%; -moz-border-radius: 16px; -webkit-border-radius: 16px; border-radius: 16px; -moz-box-shadow: 1px 1px 4px #000; -webkit-box-shadow: 1px 1px 4px #000; box-shadow: 1px 1px 4px #000; opacity: 0.80; filter: alpha(opacity=80); }
#errorc { padding: 20px; }
#error a { color: #cff; }
.ratelimits th { font-weight: normal; text-align: left; font-size: x-small; }
.ratelimits td { text-align: right; white-space: nowrap; font-size: x-small; }

#counter-div { display: none; width: 3em; position: fixed; top: 33px; right: 6%; z-index: 9; opacity: 0.80; filter: alpha(opacity=80); }
#counter-p1 { border-top: solid 9px transparent; width: 0; height: 0; border-right: solid 5px #99f; float: left; margin-left: 8px; }
#counter-p2 { border-top: solid 9px transparent; width: 0; height: 0; border-left: solid 5px #99f; float: left; }
#counter { font-family: Georgia; font-size: 11pt; font-weight: bold; font-style: italic; background-color: #99f; color: white; height: 1.1em; text-align: center; padding: 3px 0; clear: left; }

.thumbnail-image { border: solid 2px white; max-width: 32px; width: 32px\9; height: auto; -moz-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; transition: all 0.2s ease; -o-transition: all 0.3s ease; }
.thumbnail-image:hover { border: solid 2px white; width: auto; max-width: 200px; }
.thumbnail-link { border: solid 1px grey; display: block; float: right; }

@media screen and (max-device-width: 480px) {
	#menu a { padding: 1px 5px; height: 22px; line-height: 22px; }
	#menu a.sel { height: 24px; }
	#control { height: 59px; }
	.tw { top: 59px; }
	.button { padding: 0 3px; }
}
