body { background-image: url(../images/block_bg.png); background-attachment: fixed; margin: 1px; min-height: 500px; color: black; }
img { border: 0 none; }
hr { margin: 0; padding: 0; }
hr.spacer { margin: 6px 0 }
iframe { display: none; }
form { margin-bottom: 0; }

#control { position: fixed; top: 0; left: 0; width: 100%; height: 53px; border-bottom: 1px solid black; z-index: 3; background-color: #eee; }
#loading { opacity: 0.5; filter: alpha(opacity=50); position: absolute; top: 6px; width: 94%; height: 20px; z-index: 4; text-align: center; }
#fst { position: absolute; left: 1px; top: 1px; width: 94%; height: 30px; font-size: small; overflow: hidden; }
#go { text-decoration: none; position: absolute; left: 95%; top: 1px; }
#rst { text-decoration: none; position: absolute; left: 95%; top: 16px; }
#option { position: absolute; left: 1px; top: 32px; width: 99%; font-size: small; }
#menu { position: absolute; left: 0px; top: 33px; }
#menu a { display: inline-block; font-size: 12px; height: 18px; line-height: 18px; border: 1px solid black; border-bottom: 0 none; background-color: #aaa; color: #242; padding: 0 4px; margin: 0; margin-bottom: 2px; text-decoration: none; font-family: sans-serif; -moz-border-radius: 5px 5px 0 0; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; border-radius: 5px 5px 0 0; margin-right: 2px; }
#menu a.sel { height: 20px; margin-bottom: 0; background-color: #ffe; color: #002; border-bottom-color: #fff; }
#menu a.new { background-color: #fcc; }

.tw { position: absolute; left: 0px; top: 54px; width: 100%; font-size: small; }
#re { display: none; }
#tw2 { background-color: #ffd; display: none; min-height: 448px; }
#tw > div { border-bottom: 1px solid #777; }
.tw-parent > div > div { padding: 1px; border-bottom: 1px solid #999; }
.dummy { border-bottom: 0; padding: 0; height: 0; clear: both; }
.uicon { float: left; width: 32px; height: 32px; padding-right: 1px; }
.uicon2 { max-width: 96px; max-height: 96px; }
.fav { float: right; }
.dir { color: #679; }
.status { text-decoration: none; }
.status a.link { font-size: x-small; background-color: #eee; color: #022; border: solid 1px #cec; text-decoration: none; }
.status a.resolved { background-color: #eef; }
.status a.link:hover { background-color: #ff9; }
.utils { text-align: right; display: inline-block; }
.prop, .prop a { color: #999; font-size: x-small; }
.fromme { background-color: #cfd; }
.tome { background-color: #ccf; }
.emp { background-color: #fcc; }
.non-follower { color: #008; }
.retweeted { color: #555; }
.retweeted .non-follower { color: #55a; }
.button { text-decoration: none; -webkit-text-size-adjust:140%; }
.popup { padding: 0 4px; color: #888; }
.lock { position: relative; top: 2px; left: 0; }
.close { color: red; }
.get-next { text-align: center; background-color: #999; color: #fec; cursor: pointer; }
#rep { display: none; background-color: #fee; position: absolute; width: 90%; left: 4%; top: 200px; border: 4px solid #666; z-index: 2; padding: 2px; font-size: small; }
#rep > a > img { padding: 2px 1px 1px 3px; }
#reps { margin-top: 1px; }
#popup { display: none; background-color: #eee; position: absolute; left: 0; top: 200px; border: 2px solid #666; z-index: 6; width: 180px; font-size: x-small; }
#popup a { display: block; background-color: #fff; color: black; text-decoration: none; padding: 3px; border-bottom: 1px solid #888; }
#popup a:hover { background-color: #33f; color: #fff; text-decoration: none; }
#popup a.row2 { background-color: #eee; }
#popup_hide { display: none; position: absolute; top: 0; left: 0; width: 100%; height: 100%; opacity: 0.2; filter: alpha(opacity=20); background-color: black; z-index: 5; }
#user_info { margin: 1px; border: 1px solid #888; }
#user_info td { font-size: small; }

#counter-div { display: none; width: 3em; position: fixed; top: 33px; right: 6%; z-index: 9; opacity: 0.80; filter: alpha(opacity=80); }
#counter-p1 { border-top: solid 9px transparent; width: 0; height: 0; border-right: solid 5px #99f; float: left; margin-left: 8px; }
#counter-p2 { border-top: solid 9px transparent; width: 0; height: 0; border-left: solid 5px #99f; float: left; }
#counter { font-family: Georgia; font-size: 11pt; font-weight: bold; font-style: italic; background-color: #99f; color: white; height: 1.1em; text-align: center; padding: 3px 0; clear: left; }

.thumbnail-image { border: solid 2px white; width: 30px; height: auto; }
.thumbnail-image:hover { border: solid 2px white; width: auto; }
.thumbnail-link { border: solid 1px grey; display: block; float: right; }

@media screen and (max-device-width: 480px) {
	#menu a { padding: 1px 5px; height: 22px; line-height: 22px; }
	#menu a.sel { height: 24px; }
	#control { height: 59px; }
	.tw { top: 59px; }
	.button { padding: 0 3px; }
}
